@import "tailwindcss";

body {
  overflow-x: hidden !important;
}

@keyframes heartBeat {

  0%,
  100% {
    transform: scale(1);
  }

  14%,
  42% {
    transform: scale(1.3);
  }

  28%,
  70% {
    transform: scale(1);
  }
}

.buttons,
.Btn {
  animation: heartBeat 1.5s infinite;
}

.work-card {
  margin: 8px;
  border-radius: 8px 40px;
}